<!DOCTYPE html>
<html lang="en">

<head>
<title>Contact Us</title>
<link rel="icon" href="/Images/logo.png">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
body {
	background: url("https://wallpaperaccess.com/full/1489187.jpg");
}
</style>
<script src="jQuery/jquery-3.6.0.js"></script>
</head>
<body>
	<div style="background-color: black; width: 100%;">
		<nav class="navbar1">
			<div class="leftNav">
				<a href="index.html" style="margin-left: 20px;"><img
					src="Images/logo.jpg" style="border-radius: 50%;" width="50px"
					height="50px" alt=""></a>
			</div>

			<div class="rightNav">
				<ul class="nav1">
					<li><a href="/"> Home</a></li>
					<li><a href="/AdminLogin">Admin</a></li>
					<li><a href="/SellerLogin">Seller</a></li>
					<li><a href="/ContactUs">Contact Us</a></li>
				</ul>

			</div>
		</nav>
		<hr style="box-shadow: 2px 2px 10px black; background-color: white;" />

	</div>
	<main>
		<header class="jumbotron"> </header>
		<main class="contact">
			<div>
				<center>
					<h1>Contact Us</h1>
				</center>
			</div>
			<hr style="box-shadow: 2px 2px 10px;">
			<div class="contactLocation">
				<div>
					<h3>Location Information</h3>
				</div>
				<div>
					<h5>Our Address</h5>
					<address style="font-size: 100%">
						121, SG highway Near Iscon temple<br> Bopal road satellite <br>
						Ahmedabad<br> <br> <i class="fa fa-phone"></i>: +91 1234
						5678<br> <i class="fa fa-fax"></i>: +91 8765 4321<br> <i
							class="fa fa-envelope"></i>: <a href="mailto:carrental@car.net"
							style="color: white;">mailto:carrental@car.net</a>
					</address>
				</div>
				<div>
					<div class="" role="group" style="margin-top: 30px;">
						<a class="" style="color: white;" href="tel:+85212345678"><i
							class="fa fa-phone"></i> Call</a>&nbsp; <a class=""
							style="color: white;" href="mailto:sareeshop@saree.net"><i
							class="fa fa-envelope"></i> Email</a>
					</div>
				</div>
			</div>
			<hr style="box-shadow: 2px 2px 10px;">

			<div class="contactForm">
				<div>
					<h3>Send us your Feedback</h3>
				</div>
				<div>
					<form action="contactus.html">
						<input type="text" class="formBox" id="firstname" name="firstname"
							placeholder="First Name"><br> <input type="text"
							class="formBox" id="lastname" name="lastname"
							placeholder="Last Name"><br> <input type="tel"
							class="formBox" id="areacode" name="areacode"
							placeholder="Area code"><br> <input type="tel"
							class="formBox" id="telnum" name="telnum"
							placeholder="Tel. number"><br> <input type="email"
							class="formBox" id="emailid" name="emailid" placeholder="Email"><br>

						<input type="checkbox" class="" style="margin-bottom: 20px;"
							name="approve" id="approve" value=""> <strong>May
							We Contact You?</strong><br>

						<textarea type="email" class="" id="feedback" name="feedback"
							placeholder="Enter your feedback" rows="20" cols="68"></textarea>
						<br>
						<button type="submit" class="contactBtn">Send Feedback</button>
					</form>
				</div>
			</div>
		</main>
		<footer class="footer">
		<div style="color: whitesmoke;">
			<h4 class="heading">Site Map</h4>
			<dl style="list-style-type: none;">
				<dt>
					<a href="#">Home</a>
				</dt>
				<dt>
					<a href="">Admin</a>
				</dt>
				<dt>
					<a href="">Seller</a>
				</dt>
			</dl>
		</div>
		<div>
			<h4 class="heading">Our Address</h4>
			<address>
				Near Deokar Hospital, yashoda colony Lane Number 4<br>Karve Nagar <br>
				Pune<br> <br> <i class="fa fa-phone fa-lg"></i> +91
				5456 8976<br> <br> <i class="fa fa-fax fa-lg"></i> +91
				7646 9853<br> <br> <i class="fa fa-envelope fa-lg"></i> <a
					style="color: white;" href="mailto:carrental@car.net">support.carrental@car.net</a>
			</address>
		</div>
		<div class="" style="margin: auto 0px 0px;">
			<p>© Copyright 2021 Car Rental</p>
		</div>
		<div class="social" style="font-size: 30px;">
			<h4 class="heading" style="font-size: large;">Follow Us On :</h4>
			<a href="http://google.com/"><i class="fab fa-google"></i></a> <a
				href="http://www.facebook.com/profile.php?id="><i
				class="fab fa-facebook"></i></a> <a href="http://www.linkedin.com/in/"><i
				class="fab fa-linkedin"></i></a> <a href="http://twitter.com/"><i
				class="fab fa-twitter"></i></a> <a href="http://youtube.com/"><i
				class="fab fa-youtube"></i></a> <a href="mailto:"><i
				class="fa fa-envelope"></i></a>
		</div>
	</footer>
	</body>

</html>