<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Rent Cars</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<style>
#search{
	padding: 10px;
	margin: 10px;
}
</style>
</head>

<body>

<div class="nav-bar">
    <div class="logo">
        <a href="index.html"><img src="/images/logo.png" alt="Logo image" id="logo" width="200px" height="100px"></a>
        <span><a href="index.html" style="text-decoration:none; font-size:30px; font-family: 'Poppins' ">CarRentals</a></span>
    </div>
    <nav>
        <ul id="menuItems">
	         <li><a th:href="@{/customer/rentCarList}">Rent Car</a></li>
	        <li><a th:href="@{/customer/returnCarList}">Return Car</a></li>
	        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>
    
</div>
<div class="container">

		<div th:if="${param.success}">
			<div class="alert alert-info">Successfully Done</div>
		</div>
<center>
<form th:action="@{/customer/rentCarList/search}" method="POST">
<input type="text" name="search" placeholder="Search Cars By Name" class="form-control">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" value="Search" id="search" class="btn btn-primary"> 
</form>
</center>

<table class="table table-bordered table-striped">
<!-- pending code -->
<thead>
		<tr>
			<th>
				<a th:href="@{'/page/' + ${currentPage} + '?sortField=carno&sortDir=' + ${reverseSortDir}}">
					Car No</a>
			</th>
			<th>
			<a th:href="@{'/page/' + ${currentPage} + '?sortField=companyName&sortDir=' + ${reverseSortDir}}">
					Company Name</a>
			</th>
			<th>
				Model
			</th>
			<th>
				Year
			</th>
			<th>
				Rent Price
			</th>
			<th> Booking Available	 </th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="car : ${listCars}">
			<td th:text="${car.carno}"></td>
			<td th:text="${car.companyName}"></td>
			<td th:text="${car.model}"></td>
			<td th:text="${car.year}"></td>
			<td th:text="${car.rentedprice}"></td>
			
			<td> <a th:href="@{/customer/bookcar/{id}(id=${car.carno})}" class="btn btn-primary">Book Now</a>
			   <!-- <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a>   --> 
			</td>
		</tr>
	</tbody>
</table>
</div>
</body>
</html>